<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lt.gpstracker">

    <permission
        android:name="com.gt.gpstracker.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <permission
        android:name="com.gt.gpstracker.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Google Maps API Permission -->
    <uses-permission android:name="com.it.gpstracker.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!-- Google Cloud API Permission -->
    <uses-permission android:name="com.lt.gpstracker.gcm.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- Required OpenGL ES 2.0. for Maps V2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- Google MAP KEY -->


    <application
        android:name="com.lt.gpstracker.TrackerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.lt.gpstracker.activity.TrackerMainActivity"

            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Registered Receiver -->
        <receiver android:name="com.lt.gpstracker.receiver.GpsTrackerBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.lt.gpstracker.receiver.GpsTrackerAlarmReceiver" />
        <receiver
            android:name="com.lt.gpstracker.receiver.NetworkChangeReceiver"
            android:label="NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.lt.gpstracker.gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.it.gpstracker.gcm" />
            </intent-filter>
        </receiver>
        <!-- Registered Services -->
        <service android:name="com.lt.gpstracker.services.GLocationService" />
        <service android:name="com.lt.gpstracker.gcm.GCMNotificationIntentService" />

        <activity
            android:name="com.lt.gpstracker.activity.NotificationActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog"></activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBX-aXkdwVEeRLI50t41BG4Ohl9IYaeteY" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>
</manifest>
